

body{
    text-align:center;
    margin:0;
    padding:0;
    box-sizing:border-box;
    


}
h1{
    color: blueviolet;
}

h2{
    color:blue
}

h3{
    color:rgb(139, 102, 241)
}
body{
    text-align:center;
    margin:0;
    padding:0;
    box-sizing:border-box;
    

}

.memory-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    max-width:max-content;
    

}

.card-front, .card-back {
    position: absolute; /* Stack elements on top of each other */
     /* Ensure they cover the container */
     /* Hide the back face when turned */
}


.card-front{
    background: linear-gradient(90deg, rgb(115, 240, 252) 0%, rgb(139, 102, 241) 100%);
    color: blueviolet;
    
   
}


 .brownie, .pie, .donut, .churros, .creme-brulee, .icecream, .chocolate{
    width:120px;
    height:120px;
}

.card-back{
 border: 2px solid blueviolet;
 transform: rotateY(180deg);
backface-visibility: hidden;

    


}

.flipped{
    backface-visibility: hidden;
    transform:rotateY(180deg)
} 

.cards {
    position: relative; /* Create a containing block for absolute positioning */
    width: 120px; /* Match the size of card images */
    height: 120px; /* Match the size of card images */
    transform-style: preserve-3d; /* Preserve 3D space for flip effect */
    perspective: 1000px; /* Add perspective to the container */
}


#resetButton{
    background-color: transparent;
color:blueviolet;
border: 2px solid blueviolet;
margin: 5px;
width: 75px;
height:50px;
font-size: 20px;
}

@mediaquery{}